
requests 
tqdm
python-dotenv
fastapi
flask
gunicorn
pyyaml
invoke
click
python-slugify
pygame

jupyterlab
ipywidgets

processing-py

matplotlib
seaborn
plotly

numpy
pandas
scikit-learn
scipy

git+https://github.com/league-infrastructure/lesson-builder.git#egg=lesson-builder